/* Settings */
:root{
    --white: #fff;
    --gray: #6c757d;
    --secondary: #6c757d;
    --success: #198754;
    --info: #0dcaf0;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;

    --body-bg: #f8f9fe;
    
    --border: 1px solid rgba(136,152,170,.05);
    --border-round: 0.75rem;

    --box-shadow: 0 0.5rem 0.5rem rgba(136,152,170,.15);

    --linear-background: linear-gradient(87deg,#172b4d,#1a174d);
    --linear-background-header: linear-gradient(87deg,#11cdef,#1171ef);

    --color-nubank: rgb(130, 10, 209);
    --color-c6bank: black;
}

/* Base */
body {
    position: relative;
    transition: 0.5s;
    font-family: Open Sans, sans-serif;
    font-size: 14px;
    line-height: 1.5;
}

a{
    text-decoration: none !important;
}

section{
    padding: 2rem;
}

.h1,
h1 {
 font-size:1.625rem
}
.h2,
h2 {
 font-size:1.5rem
}
.h3,
h3 {
 font-size:1.0625rem
}
.h4,
h4 {
 font-size:.9375rem
}
.h5,
h5 {
 font-size:.8125rem
}
.h6,
h6 {
 font-size:.625rem
}

label {
    display: inline-block;
    margin-bottom: .5rem;
}

/* Objects */
.main{
    min-height: 100vh;
    background-color: var(--body-bg);
}

.main-header{
    position: relative;
    background: var(--linear-background-header);
    padding-top: 8rem !important;
    padding-bottom: 8rem !important;
}

.main-header>div{
    padding-left: 2rem;
    padding-right: 2rem;
}

/* Components */
.modal-content{
    border-radius: var(--border-radius);
}

.form-group {
    margin-bottom: 1.5rem;
}

.form-control-label,
.form-label {
    color: #525f7f;
    font-size: .875rem;
    font-weight: 600;
}

.toast{
    position: fixed;
    z-index: 999;
    right: 2rem;
    top: 5rem;
    background-color: white;
}

/* Utilities */
.mt-n-7{
    margin-top: -6rem !important;
}

.height-13{
    height: 13rem;
}

.fadeIn {
    animation: 0.5s fadeIn forwards;
}

.fadeOut {
    animation: 0.5s fadeOut forwards;
}

/* Color */
.bg-gradient-default {
    background: var(--linear-background);
}

.bg-nubank{
    background: var(--color-nubank)
}

.bg-c6bank{
    background: var(--color-c6bank)
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate(-20px, 0);
    }
    to {
        opacity: 1;
        transform: translate(0px, 0px);
    }
}
    
@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translate(0px, 0px);
    }
    to {
        transform: translate(-20px, 0);
        opacity: 0;
    }
}



/* ICONS */
.custom-icon::after{
    position: relative;
    height: 2rem;
    width: 2rem;
    display: flex;
}

.icon-nubank::after{
    content: url('../img/icons/brand/nubank.svg');
}

.icon-c6bank::after{
    content: url('../img/icons/brand/c6bank.svg');
}